$primary: brown
$secondary: green
$myDarkBlue: midnightblue

body
    font-family: Avenir, Helvetica, Arial, sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-align: center
    margin-top: 60px
    background-color: blanchedalmond

h1
    color: $myDarkBlue

b
    color: #2c3e50